<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flyfy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= favicon_link_tag 'icon.ico' %>
     
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <!--<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>-->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container w-full h-full">
      <%= yield %>
    </div>
  </body>
</html>
